fastapi==0.121.0
uvicorn==0.38.0
sqlalchemy==2.0.44
psycopg[binary]==3.2.12
python-multipart==0.0.20
python-dotenv==1.2.1
pydantic==2.12.4
email-validator==2.3.0

# pydantic[email]
# psycopg==3.2.12
# psycopg-binary==3.2.12
# uvicorn[standard]