fastapi[standard]
uvicorn[standard]
sqlalchemy
python-dotenv
pydantic
typing-extensions
psycopg2
psycopg2-binary
cloud-sql-python-connector[pg8000]
pg8000

pypdf
langchain
langchain-core
langchain-text-splitters
langchain
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
python-multipart
